@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
*   Template Style 
*
* ======================================================= */
body {
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  background: #fff;
}
*{
  padding:0;
  margin:0;
}
a {
  color: #929292;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #EEC591;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}
li{
  list-style:none;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

::-webkit-selection {
  color: #fff;
  background: #09C6AB;
}

::-moz-selection {
  color: #fff;
  background: #09C6AB;
}

::selection {
  color: #fff;
  background: #09C6AB;
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.search-wrap a{
    color: #fff;
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    line-height: 100px;
    text-transform: uppercase;
    padding-top: 2px;
    margin-left:20px;

}
.search-wrap a:hover{
  color:#eec591;
}

.header-position {
    background: rgba(0,0,0, 0.4) none repeat scroll 0 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}

.logo {
    padding: 6px 0 5px;
    transition: all .3s ease 0s;
}

.row-mt-15em {
  margin-top: 15em;
}
.menu-search-bundle {
    display: flex;
    float: right;
}
.main-menu ul li {
    display: inline-block;
    list-style: outside none none;
    padding-right: 43px;
    position: relative;
}
.main-menu nav > ul > li:last-child {
    padding-right: 0px;
}
.main-menu ul li a {
    color: #fff;
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    line-height: 100px;
    text-transform: uppercase;
    padding-top: 2px;
}

.main-menu ul li a i {
    font-size: 15px;
    margin-left: 4px;
    position: relative;
    top: -2px;
}
.main-menu ul li:hover > a ,
.header-black .main-menu ul li:hover > a {
    color: #EEC591;
}

.main-menu nav > ul > li > ul.submenu {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 7px 0.5px rgba(0, 0, 0, 0.15);
    display: block;
    left: 0;
    padding: 20px 0px 22px;
    position: absolute;
    top: 100%;
    transform: rotateX(90deg);
    transform-origin: center top 0;
    transition: all 0.5s ease 0s;
    visibility: hidden;
    width: 190px;
    z-index: 999;
}
.main-menu nav > ul > li:hover > ul.submenu {
    transform: rotateX(0deg);
    visibility: visible;
}
.main-menu nav > ul > li > ul.mega-menu > li ul li {
    display: block;
    padding: 0px;
}
.main-menu nav > ul > li > ul > li {
    display: block;
    padding: 0 20px;
}
.main-menu ul li ul li.mega-menu-title a {
    color: #242424;
    margin: 0 0 10px;
    text-transform: uppercase;
}
.main-menu ul li.top-hover ul li ul li.mega-menu-title:hover > a::before {
    display: none;
}
.main-menu ul li.top-hover ul li ul li.mega-menu-title:hover > a {
    padding-left: 0px;
}
.main-menu ul li ul li a {
    color: #454545;
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    text-transform: capitalize;
    padding-top: 0px;
}
.main-menu ul li.top-hover ul li > a::before {
    background: #eec591 none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    height: 7px;
    left: 15px;
    opacity: 0;
    position: absolute;
    top: 13px;
    transition: all 0.3s ease-in-out 0s;
    width: 7px;
    z-index: 999;
}
.main-menu ul li.top-hover ul.mega-menu li > a::before {
    left: 0px;
}
.main-menu ul li.top-hover ul li:hover > a::before {
    opacity: 1;
}
.main-menu ul li.top-hover ul li:hover > a {
    padding-left: 12px;
}
.main-menu ul li.mega-menu-position {
    position: static;
}
.main-menu nav > ul > li > ul.mega-menu {
    background-color: #fff;
    display: block;
    left: 0;
    padding: 33px 30px 30px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    transform: rotateX(90deg);
    transform-origin: center top 0;
    transition: all 0.5s ease 0s;
    visibility: hidden;
    width: 100%;
    z-index: 999;
    box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
}
.main-menu nav > ul > li:hover > ul.mega-menu {
    transform: rotateX(0deg);
    visibility: visible;
}
.main-menu nav > ul > li > ul.mega-menu > li {
    display: inline-block;
    float: left;
    padding-left: 60px;
    padding-right: 0;
    width: 25%;
}
.main-menu nav > ul > li > ul.mega-menu > li:last-child {
    padding-right: 0px;
}
.main-menu ul li ul li a span {
    float: right;
}
.flist_tr.friLi{
    border-bottom:1px solid #e4e6e9;
}

.flist_tr .od_price .pri_all {
  margin:4px 0 0 10px;
  overflow:hidden;
  *width:150px
}
.flist_tr .od_price .pri_all em {
  font-style:normal;
  display:inline-block;
  line-height:16px;
  float:left
}
.flist_tr .od_price .pri_all .total {
  font-size:12px
}
.flist_tr .od_price .pri_all .num,.flist_tr .od_price .pri_all .rmb {
  font-size:14px
}
.flist_tr .od_price .yearprice .pri_all {
  margin:4px 0 0 0
}
.flist_tr .od_price .yearprice .pri_all .save .minus,.flist_tr .od_price .yearprice .pri_all .save .rmb {
  font-style:normal;
  color:#ff8650
}

.flist_tr .od_price.od_price_set .car_price {
  width:160px
}


.flist_tr .od_price.od_price_set .pri_all .num,.flist_tr .od_price.od_price_set .pri_all .rmb {
  text-decoration:line-through
}
.flist_tr .od_price.od_price_set .pri_all .save {
  font-size:12px;
  margin-left:5px
}
.flist_tr .od_price.od_price_set .pri_all .save i {
  font-style:normal;
  color:#ff8650;
  font-size:14px
}
.flist_tr .od_price.od_price_set .pri_all {
  margin:4px 0 0 0
}
.flist_tr .od_price .back_szb {
  float:left;
  display:inline-block;
  height:32px;
  border-left:1px dotted #e9ebee;
  padding:9px 0 9px 12px;
  line-height:16px;
  text-align:center;
  color:#ff8650;
  font-size:14px
}
.flist_tr .od_price .back_szb i {
  font-style:normal
}
.flist_tr .pic {
  padding:25px 25px 25px 30px;
  position:relative
}
.flist_tr .pic>img {
  cursor:pointer
}
.flist_tr .info {
  width:282px;
  padding:20px;
  padding-right:0;
  border-bottom:1px solid #e4e6e9
}
.flist_tr .info .name {
  font-size:18px;
  color:#60606c;
  line-height:26px
}
.flist_tr .info .oth {
  font-size:12px;
  line-height:24px
}
.flist_tr .info .oth span {
  color:#ff5050
}
.flist_tr .info .alltips {
  margin-top:12px;
  font-size:0
}
.flist_tr .ord {
  width:340px;
  padding:30px 20px 30px 0;
  border-bottom:1px solid #e4e6e9
}
.flist_tr .ord a:hover {
  text-decoration:none
}
.flist_tr .order_box {
  width:340px;
  height:50px;
  float:right;
  margin-bottom:12px
}
.flist_tr .order_box .od_price {
  float:left
}


.flist_tr .od_price .pri_all {
  margin:4px 0 0 10px;
  overflow:hidden;
  *width:150px
}
.flist_tr .od_price .pri_all em {
  font-style:normal;
  display:inline-block;
  line-height:16px;
  float:left
}
.flist_tr .od_price .pri_all .total {
  font-size:12px
}
.flist_tr .od_price .pri_all .num,.flist_tr .od_price .pri_all .rmb {
  font-size:14px
}
.flist_tr .od_price .yearprice .pri_all {
  margin:4px 0 0 0
}
.flist_tr .od_price .yearprice .pri_all .save .minus,.flist_tr .od_price .yearprice .pri_all .save .rmb {
  font-style:normal;
  color:#ff8650
}
.flist_tr .od_price.od_price_set .car_price {
  width:160px
}
.flist_tr .od_price.od_price_set .pri_all .num,.flist_tr .od_price.od_price_set .pri_all .rmb {
  text-decoration:line-through
}
.flist_tr .od_price.od_price_set .pri_all .save {
  font-size:12px;
  margin-left:5px
}
.flist_tr .od_price.od_price_set .pri_all .save i {
  font-style:normal;
  color:#ff8650;
  font-size:14px
}
.flist_tr .od_price.od_price_set .pri_all {
  margin:4px 0 0 0
}
.flist_tr .od_price .back_szb {
  float:left;
  display:inline-block;
  height:32px;
  border-left:1px dotted #e9ebee;
  padding:9px 0 9px 12px;
  line-height:16px;
  text-align:center;
  color:#ff8650;
  font-size:14px
}
.flist_tr .od_price .back_szb i {
  font-style:normal
}
.friends{
  padding-top:160px;
  padding-bottom: 50px;
  overflow: hidden;
}
.flist_ct {
  background-color:#fff;
  box-shadow: 0 0 10px #adadad;
  
}
.flist_ct.set .deta_list .car_price {
  height:30px;
  margin-top:30px
}
.deta_list .car_price {
  height:50px;
  width:118px;
  margin-top:20px;
  float:left;
  position:relative
}
.flist_ct.set .flist_tr .order_box .od_btn.btn_yel {
  background-color:#ff8650
}
.flist_ct.set .flist_tr .order_box .od_btn.btn_yel:hover {
  background-color:#ff7433
}
.flist_ct .flist_tr .order_box .od_btn {
  float:right;
  width:100px;
  height:50px;
  text-align:center;
  line-height:50px;
  border-radius:3px;
  font-size:18px;
  color:#fff;
  cursor:pointer
}
.flist_ct .flist_tr .order_box .od_btn.btn_yel {
  background-color:#fabe00
}
.flist_ct .flist_tr .order_box .od_btn.btn_yel:hover {
  background-color:#ff8650
}
.flist_ct .flist_tr .order_box .od_btn.btn_blue {
  background-color:#2b99ff
}
.flist_ct .flist_tr .order_box .od_btn.btn_blue:hover {
  background-color:#609fe6
}
.flist_ct .flist_tr .order_box .od_btn.btn_gray {
  background-color:#c9c9ce
}
.flist_tr .order_box .arwhit_btm,.flist_tr .order_box .arwhit_top {
  vertical-align:middle;
  margin-left:5px
}
.flist_ct.set .flist_tr .order_box .od_btn.btn_yel {
  background-color:#ff8650
}
.flist_ct.set .flist_tr .order_box .od_btn.btn_yel:hover {
  background-color:#ff7433
}
.flist_ct .flist_tr .order_box .od_btn {
  float:right;
  width:100px;
  height:50px;
  text-align:center;
  line-height:50px;
  border-radius:3px;
  font-size:18px;
  color:#fff;
  cursor:pointer
}
.flist_ct .flist_tr .order_box .od_btn.btn_yel {
  background-color:#fabe00
}
.flist_ct .flist_tr .order_box .od_btn.btn_yel:hover {
  background-color:#ff8650
}
.flist_ct .flist_tr .order_box .od_btn.btn_blue {
  background-color:#2b99ff
}
.flist_ct .flist_tr .order_box .od_btn.btn_blue:hover {
  background-color:#609fe6
}
.flist_ct .flist_tr .order_box .od_btn.btn_gray {
  background-color:#c9c9ce
}
.flist_tb {

}


.friend-container {
  max-width: 1100px;
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 46px;
  font-size: 16px;
  font-weight: 300;
  padding-left: 15px;
  padding-right: 15px;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #eec591;
}
.btn.btn-primary a{
  color: #FFF;
}
.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 30px;
}
.btn.btn-md {
  padding: 8px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #ea9e60;
  color: #fff;
  border: 2px solid #ea9e60 !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #ffc08c !important;
  border-color: #ffc08c !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #09C6AB;
  border: 2px solid #09C6AB;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #09C6AB;
  color: #fff;
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-white {
  background: #fff;
  color: #000;
  border: 2px solid #fff;
}
.btn-white:hover, .btn-white:focus, .btn-white:active {
  color: #000;
  background: #f2f2f2 !important;
  border-color: #f2f2f2 !important;
}
.btn-white.btn-outline {
  color: #fff;
  border: 2px solid #fff;
}
.btn-white.btn-outline:hover, .btn-white.btn-outline:focus, .btn-white.btn-outline:active {
  background: #fff;
  color: #000;
  border: 2px solid #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn.with-arrow:hover {
  padding-right: 50px;
}
.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

/*footer*/

#friend-footer
{
  padding: 1em 0;
  clear: both;
  position: relative;
}


#friend-footer.border-bottom {
  border-bottom: 1px solid #e6e6e6;
}
#friend-footer .kuaidi-footer-links {
  padding: 0;
  margin: 0 0 20px 0;
  float: left;
  width: 100%;
}
#friend-footer .kuaidi-footer-links li {
  padding: 0;
  margin: 0 0 15px 0;
  list-style: none;
  line-height: 1;
}
#friend-footer .kuaidi-footer-links li a {
  text-decoration: none;
}
#friend-footer .kuaidi-footer-links li a:hover {
  text-decoration: underline;
}
#friend-footer .gtco-widget {
  margin-bottom: 30px;
}
#friend-footer .gtco-widget h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#friend-footer .gtco-widget .gtco-quick-contact {
  padding: 0;
  margin: 0;
}
#friend-footer .gtco-widget .gtco-quick-contact li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
}
#friend-footer .gtco-widget .gtco-quick-contact li i {
  width: 30px;
  float: left;
  font-size: 18px;
  position: relative;
  margin-top: 4px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
#friend-footer .footer-logo span {
  color: #09C6AB;
}
#friend-footer .copyright {
  color: #b3b3b3;
  padding-top: 3em;
  margin-top: 0;
  border-top: 1px solid #f2f2f2;
}

#friend-footer .copyright .block {
  display: block;
}
.copyright .block a{
  color:#ffe100;
}
